jsonschema
geopandas
-e git+https://github.com/Theano/Theano.git#egg=Package
-e git+https://github.com/pymc-devs/pymc3.git#egg=Package
-e git+https://github.com/pymc-devs/pymc.git#egg=Package
trans
seaborn